/* ========== ABOUT SECTION  ==================== */

.about-section {
  padding: 80px 0;
}

/* ======== ABOUT GRID ================== */

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

/* =======  ABOUT IMAGE  =============== */

.about-image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: var(--radius-medium);
}

/* ======= ABOUT CONTENT  ================ */

.about-content {
  max-width: 550px;
}

.section-label {
  margin-bottom: 15px;
  color: var(--color-primary);
  font-size: 16px;
  font-weight: 600;
}

.about-content h2 {
  margin-bottom: 20px;
  font-size: 42px;
  line-height: 1.2;
}

.about-content p:not(.section-label) {
  margin-bottom: 18px;
  color: #666;
  line-height: 1.7;
}

/* ======= ABOUT BUTTON ================ */

.about-button {
  display: inline-block;
  margin-top: 10px;
  padding: 14px 24px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  text-decoration: none;
  border-radius: 6px;
}

.about-button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* ======== About Section responsiveness for tablet ========= */

@media (max-width: 900px) {
  .about-grid {
    grid-template-columns: 1fr;

    gap: 40px;
  }

  .about-content {
    max-width: 700px;

    margin: 0 auto;

    text-align: center;
  }

  .about-image {
    order: 2;
  }

  .about-content {
    order: 1;
  }
}

/* ====== About Section responsiveness for mobile ========= */

@media (max-width: 600px) {
  .about-section {
    padding: 50px 0;
  }

  .about-content h2 {
    font-size: 34px;
  }

  .about-image img {
    height: 320px;
  }
}
