/* =======   HEADER  ================= */

.site-header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--color-white);
  padding: 14px 0;
  border-bottom: 1px solid #eeeeee;
}

/* ============  NAVBAR LAYOUT  ================= */

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}

.logo img {
  display: block;
  width: 150px;
  height: auto;
}

/* ==============   NAVIGATION  ========================= */

.main-nav {
  margin: auto;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
}

.nav-list a {
  display: inline-block;
  position: relative;
  padding: 5px 0;
  color: var(--color-dark);
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.nav-list a:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}

.nav-list a::after {
  /* Small underline effect */
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-primary);
  transition: width 0.3s ease;
}

.nav-list a:hover::after {
  width: 100%;
}

/* ============ RESERVATION BUTTON =================== */

.reservation-button {
  flex-shrink: 0;
  padding: 12px 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.reservation-button:hover {
  background-color: #9f4d2f;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

/* ======= NAVBAR Responsiveness for TABLET ======================= */

@media (max-width: 900px) {
  .site-header .container {
    flex-wrap: wrap;
  }

  .main-nav {
    order: 3;
    width: 100%;
    margin-left: 0;
  }

  .nav-list {
    justify-content: center;
    gap: 25px;
  }

  section {
    scroll-margin-top: 90px;
  }
}

/* ======= NAVBAR Responsiveness for MOBILE  ======================== */

@media (max-width: 600px) {
  .site-header {
    padding: 12px 0;
  }

  .site-header .container {
    gap: 15px;
  }

  .logo img {
    width: 110px;
  }

  .nav-list {
    gap: 12px 20px;
  }

  .nav-list a {
    font-size: 14px;
  }

  .reservation-button {
    /* width: 100%; */
    padding: 11px 18px;
    text-align: center;
  }

  section {
    scroll-margin-top: 90px;
  }
}
